<div class="box"><h3>Welcome to Cash Money money saving tracker</h3></div>

<nav>
<ul>
<a href="/analyses/"><li>View Analysis of all Transactions</li></a>
<a href="/transactions/new"><li>Add a Transaction</li></a>
<a href="/merchants/new"><li>Add a Merchant</li></a>
<a href="/categories/new"><li>Add a Category</li></a>
<a href="/analyses.json"><li>Get JSON</li></a>

</ul>
</nav>