<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/main_style.css">
  <title>Cash, Money. - Ain't Nuthin' Funny</title>
</head>
<body>
<h2>Cash Money</h2>
<div class="content">
<%= yield %>
</div>
</body>
</html>