<div class="box">
<h3>Add new Category</h3>
<form action="/categories" method="post">
  <label for="name">Category:</label><input type="text" name="name" autofocus>
  <input type="submit" value="Create Category">
</form>
</div>